<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="Contact" value ="Господин"/>
    <add key="FirstName" value="Дмитрий"/>
    <add key="SurName" value="Платов"/>
    <add key="MobilePhone" value="+375336663311"/>
    <add key="MailAdress" value="dima@gmail.com"/>
  </appSettings>
</configuration>